{% extends 'VispanlabSiteBundle::base.html.twig' %}

{% block content %}
<div class="row text-center">
    <div class="col-md-12">
        <h2>{{'concept_library.heading'|trans({'%aoe%': area_of_expertise.name})}}</h2>
        <ul class="list-inline">
        {% for concept in area_of_expertise.concepts %}
            <li class="well well-lg" style="min-width: 300px;">
                <p>{{concept.nameForLang('el')|raw}}</p>
                <p><a href="#" data-toggle="collapse" data-target="#concept_{{concept.id}}" style="display: block;" aria-expanded="false" aria-controls="concept_{{concept.id}}">&raquo;</a><a href="{{path('concept', {'concept': concept.id})}}">test</a></p>
                <p id="concept_{{concept.id}}" class="collapse">{{concept.definitionForLang('el')}}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="{{asset('bundles/sonataadmin/vendor/bootstrap/js/transition.js')}}"></script>
<script src="{{asset('bundles/sonataadmin/vendor/bootstrap/js/collapse.js')}}"></script>
{% endblock %}