{% extends 'VispanlabSiteBundle:ConceptLibrary:concept_library.html.twig' %}

{% set area_of_expertise = concept.areaOfExpertise %}

{% block content %}
<div class="row text-center">
    <div class="col-md-12 concept-details">
        <h2 style="margin-top: 0;"><strong>{{concept.nameForLang(app.request.locale).textFormatted|format_text(concept.nameForLang(app.request.locale).format_type)|raw}}</strong><hr /></h2>
        <div class="row text-justify">
            <div class="col-md-6">
                {% include 'VispanlabSiteBundle:ConceptLibrary:concept_block.html.twig' with {
                    'concept': concept,
                    'method': 'definition',
                    'block_name' : ('concept.DEFINITION'|trans),
                    'locale': app.request.locale,
                } %}
                {% include 'VispanlabSiteBundle:ConceptLibrary:concept_block.html.twig' with {
                    'concept': concept,
                    'method': 'alternativeDefinitions',
                    'block_name' : ('concept.ALTERNATIVE_DEFINITIONS'|trans),
                    'locale': app.request.locale,
                } %}
                {% include 'VispanlabSiteBundle:ConceptLibrary:concept_block.html.twig' with {
                    'concept': concept,
                    'method': 'relatedConcepts',
                    'block_name' : ('concept.RELATED_CONCEPTS'|trans),
                    'links_convert': { 'separator': '/', 'locale': app.request.locale, 'route_name': 'concept', 'route_id_name': 'concept' },
                    'locale': app.request.locale,
                } %}
            </div>
            <div class="col-md-6">
                {% for def in concept.getDefinitionForOtherLang(app.request.locale) %}
                    {% include 'VispanlabSiteBundle:ConceptLibrary:concept_block.html.twig' with {
                        'concept': concept,
                        'method': 'definition',
                        'block_name' : concept.nameForLang(def.locale).textFormatted|format_text(concept.nameForLang(def.locale).format_type),
                        'locale': def.locale,
                        'showFlags': false,
                        'extraClasses': 'linked',
                        'initialDisplay': 'none',
                    } %}
                {% endfor %}
                {% include 'VispanlabSiteBundle:ConceptLibrary:concept_block.html.twig' with {
                    'concept': concept,
                    'method': 'media',
                    'block_name' : ('concept.MEDIA'|trans),
                    'locale': app.request.locale,
                } %}
                {% include 'VispanlabSiteBundle:ConceptLibrary:concept_block.html.twig' with {
                    'concept': concept,
                    'method': 'commentsAsDefinition',
                    'block_name' : ('concept.COMMENTS'|trans),
                    'locale': app.request.locale,
                    'showFlags': false,
                } %}
            </div>
        </div>
    </div>
</div>
<div class="row text-center">
    {% if prev != null %}
    <div class="col-md-3 pull-left text-left"><a href="{{path('concept', {'concept': prev.id})}}">&nbsp; {{'concept.PREVIOUS'|trans}}<BR />&#10094; {{prev.nameForLang(app.request.locale).textFormatted|format_text(prev.nameForLang(app.request.locale).format_type)|raw}}</a></div>
    {% endif %}
    {% if next != null %}
    <div class="col-md-3 pull-right text-right"><a href="{{path('concept', {'concept': next.id})}}">{{'concept.NEXT'|trans}} &nbsp;<BR />{{next.nameForLang(app.request.locale).textFormatted|format_text(next.nameForLang(app.request.locale).format_type)|raw}} &#10095;</a></div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="{{asset('bundles/sonataadmin/vendor/bootstrap/js/transition.js')}}"></script>
<script src="{{asset('bundles/sonataadmin/vendor/bootstrap/js/collapse.js')}}"></script>
<script>
    $(document).ready(function() {
        $('.concept-details-block').on('hide.bs.collapse', function (e) {
            $(this).parent().find('.collapse-arrows-wrapper i').removeClass('fa-angle-double-up');
            $(this).parent().find('.collapse-arrows-wrapper i').addClass('fa-angle-double-down');
        });
        $('.concept-details-block').on('show.bs.collapse', function (e) {
            $(this).parent().find('.collapse-arrows-wrapper i').removeClass('fa-angle-double-down');
            $(this).parent().find('.collapse-arrows-wrapper i').addClass('fa-angle-double-up');
        });
        $('.switch-lang').on('click.switch-lang', function(e) {
            var curLang = $(this).parent().parent().parent().parent().find('.lang-block:visible').attr('data-lang');
            var curMethod = $(this).parent().parent().parent().parent().parent().attr('data-method');
            var newLang = $(this).attr('data-lang');
            if(curLang !== newLang && $('.default-lang-'+newLang+'.linked[data-method="'+curMethod+'"]').size() > 0) {
                if($('.default-lang-'+newLang+'.linked[data-method="'+curMethod+'"]').is(':visible')) {
                    $('.default-lang-'+newLang+'.linked[data-method="'+curMethod+'"]').fadeOut();
                    $('.default-lang-'+newLang+'.linked[data-method="'+curMethod+'"]').find('.collapse').collapse('hide');
                } else {
                    $('.default-lang-'+newLang+'.linked[data-method="'+curMethod+'"]').fadeIn();
                    $('.default-lang-'+newLang+'.linked[data-method="'+curMethod+'"]').find('.collapse').collapse('show');
                }
            } else if(curLang !== newLang) {
                $(this).parent().parent().parent().parent().find('.lang-block').hide();
                $(this).parent().parent().parent().parent().find('.lang-'+newLang).fadeIn();
            }
            e.preventDefault();
            return false;
        });
    });
</script>
{% endblock %}