{% set langFlags = { 'en': 'gb', 'el': 'gr' } %}
{% set blockId = ((method is defined ? method : (content|md5))~'_'~(locale is defined ? locale : '')) %}
<div class="well well-lg">
    <h4 data-toggle="collapse" data-target="#{{blockId}}">{{block_name}} {% if locale is defined %}<span class="flag-icon flag-icon-{{langFlags[locale]}}"></span>{% endif %}</h4>
    <div id="{{blockId}}" class="collapse">
        <div style="display: inline;">
            {% set content = method is defined ? attribute(concept, method, [locale is defined ? locale : null]) : content %}
            {% if content is iterable %}
                {% for curContent in content %}
                    <a href="{% path curContent,'reference' %}" target="_blank">{% thumbnail curContent, 'small' %}</a>
                {% endfor %}
            {% elseif content is instanceof('Application\Sonata\MediaBundle\Entity\Media') %}
                <a href="{% path content,'reference' %}" target="_blank">{% thumbnail content, 'small' %}</a>
            {% else %}
                {{content|raw}}
            {% endif %}
        </div>
    </div>
    <div data-toggle="collapse" data-target="#{{blockId}}" class="text-center" style="position: relative; bottom: -25px; cursor: pointer;"><i class="fa fa-angle-double-down"></i></div>
</div>