{% import _self as macros %}
{% set blockId = ((method is defined ? method : (content.textFormatted|md5))~'_'~(locale is defined ? locale : '')) %}
{% set content = method is defined ? attribute(concept, method, [locale is defined ? locale : null]) : content %}
{% set defsInDefaultLangCount = 0 %}
{% if content is iterable %}
    {% for curContent in content if curContent.locale == locale %}
        {% set defsInDefaultLangCount = defsInDefaultLangCount + 1 %}
    {% endfor %}
{% else %}
    {% set defsInDefaultLangCount = (content.locale == locale ? ((content.textFormatted|trim|length) > 0 ? 1 : 0) : 0) %}
{% endif %}
<div class="well well-lg default-lang-{{langFlags[locale]}}{% if extraClasses is defined %} {{extraClasses}}{% endif %}" {% if (initialDisplay is defined and initialDisplay == 'none') %}{# or defsInDefaultLangCount <= 0 #}style="display: none"{% endif %} data-method="{{method is defined ? (method|md5) : (content|md5)}}">
    <h4 {% if defsInDefaultLangCount <= 0 %}class="text-muted"{% else %}data-toggle="collapse" data-target="#{{blockId}}"{% endif %}>{{block_name}}</h4>
    <div id="{{blockId}}" class="concept-details-block collapse">
        {% if content is iterable %}
            {% set curLocale = null %}
            {% for curContent in content %}
                {% if curContent.locale != curLocale %}
                    {% if not loop.first %}</div>{% endif %}
                    <div style="display: {{curContent.locale == locale ? 'inline' : 'none'}}" class="lang-block lang-{{langFlags[curContent.locale]}}" data-lang="{{langFlags[curContent.locale]}}">
                {% else %}
                        {% if not loop.first %}<hr style="border-color: #000;" />{% endif %}
                {% endif %}
                {% if links_convert is defined and links_convert != null %}
                    {{curContent.textFormatted|format_text(curContent.format_type)|links_convert_filter(links_convert.separator, links_convert.locale, links_convert.route_name, links_convert.route_id_name)|raw}}
                {% else %}
                    {{curContent.textFormatted|format_text(curContent.format_type)|raw}}
                {% endif %}
                {% set curLocale = curContent.locale %}
            {% endfor %}
            {% if content|length > 0 %}</div>{% endif %}
        {% else %}
            <div style="display: {{content.locale == locale ? 'inline' : 'none'}}" class="lang-block lang-{{langFlags[content.locale]}}" data-lang="{{langFlags[content.locale]}}">
                {% if links_convert is defined and links_convert != null %}
                    {{content.textFormatted|format_text(content.format_type)|links_convert_filter(links_convert.separator, links_convert.locale, links_convert.route_name, links_convert.route_id_name)|raw}}
                {% else %}
                    {{content.textFormatted|format_text(content.format_type)|raw}}
                {% endif %}
            </div>
        {% endif %}
        {% if showFlags is not defined or showFlags == true %}
        <div>
            <ul class="list-inline">
                {% if content is iterable %}
                    {% set localesAlreadyDisplayed = [] %}
                    {% for curContent in content if curContent.locale not in localesAlreadyDisplayed %}
                        <li {% if curContent.locale == app.request.locale %}style="display: none;"{% endif %}><a href="#" class="switch-lang flag-icon flag-icon-square flag-icon-{{langFlags[curContent.locale]}}" data-lang="{{langFlags[curContent.locale]}}">&nbsp;</a></li>
                        {% set localesAlreadyDisplayed = localesAlreadyDisplayed|merge([curContent.locale]) %}
                    {% endfor %}
                {% else %}
                    <li {% if content.locale == app.request.locale %}style="display: none;"{% endif %}><a href="#" class="switch-lang flag-icon flag-icon-square flag-icon-{{langFlags[content.locale]}}" data-lang="{{langFlags[content.locale]}}">&nbsp;</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div data-toggle="collapse" data-target="#{{blockId}}" class="text-center {% if defsInDefaultLangCount <= 0 %}text-muted{% else %}collapse-arrows-wrapper{% endif %}" style="position: relative; bottom: -25px; cursor: pointer;"><i class="fa fa-angle-double-down"></i></div>
</div>