{% set langFlags = { 'en': 'gb', 'el': 'gr' } %}
{% set blockId = ((method is defined ? method : (content.textFormatted|md5))~'_'~(locale is defined ? locale : '')) %}
<div class="well well-lg">
    <h4 data-toggle="collapse" data-target="#{{blockId}}">{{block_name}}</h4>
    <div id="{{blockId}}" class="concept-details-block collapse">
        <div style="display: inline;">
            {% set content = method is defined ? attribute(concept, method, [locale is defined ? locale : null]) : content %}
            {% if content is iterable %}
                {% for curContent in content %}
                    <a href="{% path curContent,'reference' %}" target="_blank">{% thumbnail curContent, 'small' %}</a>
                {% endfor %}
            {% elseif content is instanceof('Application\Sonata\MediaBundle\Entity\Media') %}
                <a href="{% path content,'reference' %}" target="_blank">{% thumbnail content, 'small' %}</a>
            {% else %}
                {{content.textFormatted|format_text(content.format_type)|raw}}
            {% endif %}
        </div>
        <div>
            {% if noFlags is not defined or noFlags != true and content is instanceof('Vispanlab\SiteBundle\Entity\Definition') %}
                <ul class="list-inline">
                    <li><span class="flag-icon flag-icon-square flag-icon-{{langFlags[locale]}}"></span></li>
                    {% for definition in content.getDefinitionOtherLangs %}
                        <li><span class="flag-icon flag-icon-square flag-icon-{{langFlags[definition.locale]}}"></span></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div data-toggle="collapse" data-target="#{{blockId}}" class="text-center collapse-arrows-wrapper" style="position: relative; bottom: -25px; cursor: pointer;"><i class="fa fa-angle-double-down"></i></div>
</div>