{% trans_default_domain 'FOSUserBundle' %}
{% if error is defined and error %}
    <div class="alert alert-danger alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path("fos_user_security_check", {'_locale': 'el'}) }}" method="post">
  <div class="form-group">
    <label class="control-label" for="inputEmail">{{'security.login.username'|trans}}</label>
    <div class="controls">
      <input type="text" id="inputEmail" name="_username" value="{{ last_username is defined ? last_username : '' }}" required="required" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputPassword">{{'security.login.password'|trans}}</label>
    <div class="controls">
      <input type="password" id="inputPassword" name="_password" required="required" class="form-control">
    </div>
  </div>
  <div class="checkbox">
      <label>
        <input type="checkbox" name="_remember_me"> {{'security.login.remember_me'|trans}}
      </label>
  </div>
  <button type="submit" name="_submit" class="btn btn-primary">{{'security.login.submit'|trans}}</button>
  {% if app.request.get('redirect') != null %}
    <input type="hidden" name="_target_path" value="{{app.request.get('redirect')|url_decode}}" />
  {% endif %}
  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
</form>