{% extends 'VispanlabSiteBundle::base.html.twig' %}

{% block page_title %}{{'common.title'|trans|striptags|raw}}{% endblock %}

{% block content %}
    {% if app.request.get('_route') != 'home' %}
    <h3 style="margin-top: 0;" class="text-center"><strong>{% block title %}{{'common.title'|trans|striptags|raw}}{% endblock %}</strong><hr /></h3>
    {% endif %}

    {% block inner_content %}
    <h3 style="color: #ff7906;">{{'home.welcome_generic'|trans}}</h3>
    <p>&nbsp;</p>
    <p style="font-size: 15px; font-weight: bold;">
        {{'home.motto1'|trans|raw}}
    </p>
    <p>&nbsp;</p>
    <p>
        {{'home.motto2'|trans|raw}}
    </p>

    <img class="hidden-xs hidden-sm" style="max-width: 900px;" src="{{asset('img/front_maps.gif')}}" />

    <div class="row">
        <div class="col-md-10 home-motto-3 col-md-offset-2">
            {{'home.motto3'|trans|raw}}
        </div>
    </div>

    <p>&nbsp;</p>
    {% endblock %}
{% endblock %}

{% block footer_content %}
    {% if areasofexpertise is defined %}
    <div class="row text-center" style="position: absolute; top: -30px; left: 0; right: 0; overflow: hidden; height: 15px;">
        <div class="col-md-12">
            <p><strong>{% for aoe in areasofexpertise %}{{aoe.name(app.request.locale)|striptags|replace({'&': '& '}|raw)}}{% if not loop.last %}&nbsp;&nbsp;&bullet;&nbsp;&nbsp;{% endif %}{% endfor %}</strong></p>
        </div>
    </div>
    {% endif %}
    {{parent()}}
{% endblock %}

{% block sonata_top_nav_menu_login %}
<li>
    <p class="nav navbar-text">
        <i class="fa fa-user fa-fw"></i>
        <a href="{{path('fos_user_security_login')}}">{{'common.login'|trans}}</a>
    </p>
</li>
<li>
    <p class="nav navbar-text">
        <i class="fa fa-user fa-fw"></i>
        <a href="{{path('fos_user_registration_register')}}">{{'common.civilian_register'|trans}}</a>
    </p>
</li>
{% endblock %}

{% block sonata_left_side %}
<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <ul class="sidebar-menu" style="margin-top: 20px;">
            {{ knp_menu_render('sidebar_login', {'template': 'VispanlabSiteBundle::sidemenu.html.twig'}) }}
        </ul>
    </section>
</aside>
{% endblock %}