{% extends 'VispanlabSiteBundle::base.html.twig' %}

{% block content %}
    <h3 style="margin-top: 0;" class="text-center"><strong>{% block title %}{{ admin_pool.title }}{% endblock %}</strong><hr /></h3>
    {% block inner_content %}
    <div class="row text-center">
        <div class="col-md-3 col-md-offset-2 well well-lg">
            {% include 'VispanlabUserBundle:Security:login_content.html.twig' %}
        </div>
        <div class="col-md-3 col-md-offset-1 well well-lg">
            <h4><strong>{{'home.register'|trans}}</strong></h4>
            <p>{{'home.register_with_tei'|trans}}</p>
            <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
            <p>{{'home.register_without_tei'|trans}}</p>
            <p><a class="btn btn-primary" href="{{path('fos_user_registration_register')}}">{{'common.civilian_register'|trans}}</a></p>
        </div>
    </div>
    {% endblock %}
{% endblock %}

{% block sonata_top_nav_menu_login %}
<li>
    <p class="nav navbar-text">
        <i class="fa fa-user fa-fw"></i>
        <a href="{{path('fos_user_security_login')}}">{{'common.login'|trans}}</a>
    </p>
</li>
<li>
    <p class="nav navbar-text">
        <i class="fa fa-user fa-fw"></i>
        <a href="{{path('fos_user_registration_register')}}">{{'common.civilian_register'|trans}}</a>
    </p>
</li>
{% endblock %}

{% block sonata_left_side %}
<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <ul class="sidebar-menu" style="margin-top: 20px;">
            {{ knp_menu_render('sidebar_login', {'template': 'VispanlabSiteBundle::sidemenu.html.twig'}) }}
        </ul>
    </section>
</aside>
{% endblock %}