{% extends 'VispanlabSiteBundle::base.html.twig' %}

{% block content %}
<div class="row text-center index-logged-in">
    <div class="col-md-12" style="position: relative;">
        <img src="{{asset('img/tei_logo_background.gif')}}" alt="TEI Logo" style="opacity: 0.1; position: absolute; margin-left: -150px; top: 170px;" />
        <h2>{{'home.welcome'|trans({'%user%': app.user.name})}}</h2>
        <p style="margin-top: 30px;">{{'home.text1'|trans|raw}}</p>
        <p style="margin-top: 20px;"><small>{{'home.users'|trans|raw}} {{usersCount}}</small></p>
    </div>
</div>
{% endblock %}

{% block search_bar %}
<form action="{{path('concept_library', {'aoe': 'REPLACE'})}}#" data-origaction="{{path('concept_library', {'aoe': 'REPLACE'})}}#" method="GET" class="sidebar-form concept-search-form" role="search">
    <div class="input-group">
        <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'concept_library.search_placeholder'|trans }}" data-provide="typeahead" autocomplete="off">
            <span class="input-group-btn">
                <button class="btn btn-flat" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
    </div>
</form>
{% endblock %}

{% block search_js %}
{% import "VispanlabSiteBundle::base.html.twig" as baseMacros %}
{{baseMacros.search_js_outside_library([], true)}}
{% endblock %}