{% extends base_template %}

{% block sonata_head_title %}{% block title %}Εικονικό Εργαστήριο Χωρικής Ανάλυσης{% endblock %}{% endblock %}

{% block logo %}
    {% spaceless %}
    <a class="logo" href="{{ url('home') }}">
        {% if 'single_image' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
            <img src="{{ asset(admin_pool.titlelogo) }}" alt="{{ admin_pool.title }}">
        {% endif %}
        {% if 'single_text' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
            <span style="font-size: 70%;">{{ admin_pool.title }}<br /><small style="font-size: 65%;">{{'common.title'|trans}}</small></span>
        {% endif %}
    </a>
    {% endspaceless %}
{% endblock %}

{% block sonata_breadcrumb %}
    <ol class="nav navbar-top-links breadcrumb">
        {%- for  menu in cnerta_breadcrumb_get('sidebar') %}
            {% if not loop.last  %}
                <li>
                    {% if menu.uri is not empty %}
                        <a href="{{ menu.uri != '#' ? menu.uri : path('home') }}">{{ menu.label|raw|trans }}</a>
                    {% else %}
                        {{ menu.label|trans }}
                    {% endif %}
                </li>
            {% else %}
                <li class="active"><span>{{ menu.label|trans }}</span></li>
            {% endif %}
        {%- endfor %}
    </ol>
{% endblock sonata_breadcrumb %}

{% block sonata_left_side %}
<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        {#<form action="#" method="GET" class="sidebar-form" role="search">
            <div class="input-group custom-search-form">
                <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                    <span class="input-group-btn">
                        <button class="btn btn-flat" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
            </div>
        </form>#}

        <ul class="sidebar-menu" style="margin-top: 10px;">
            {{ knp_menu_render('sidebar', {'template': 'VispanlabSiteBundle::sidemenu.html.twig'}) }}
        </ul>
        <ul class="sidebar-menu bottom">
            {{ knp_menu_render('sidebar_bottom', {'template': 'VispanlabSiteBundle::sidemenu.html.twig'}) }}
        </ul>
    </section>
</aside>
{% endblock %}