{% extends base_template %}

{% block sonata_head_title %}{% block title %}Εικονικό Εργαστήριο Χωρικής Ανάλυσης{% endblock %}{% endblock %}

{% block logo %}
    {% spaceless %}
    <a class="logo" href="{{ url('home') }}">
        {% if 'single_image' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
            <img src="{{ asset(admin_pool.titlelogo) }}" alt="{{ admin_pool.title }}">
        {% endif %}
        {% if 'single_text' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
            <span style="font-size: 70%;">{{ admin_pool.title }}<br /><small style="font-size: 75%;">{{'common.title'|trans|raw}}</small></span>
        {% endif %}
    </a>
    {% endspaceless %}
{% endblock %}

{% block sonata_breadcrumb %}
    <ol class="nav navbar-top-links breadcrumb hidden-xs">
        {%- for  menu in cnerta_breadcrumb_get('sidebar') %}
            {% set menuLabel = menu.label|replace({'<BR />': ' '})|striptags|trans %}
            {% if not loop.last  %}
                <li>
                    {% if menu.uri is not empty %}
                        <a href="{{ menu.uri != '#' ? menu.uri : path('home') }}">{{ menuLabel|raw }}</a>
                    {% else %}
                        {{ menuLabel|raw }}
                    {% endif %}
                </li>
            {% else %}
                <li class="active"><span>{{ menuLabel|raw }}</span></li>
            {% endif %}
        {%- endfor %}
    </ol>
{% endblock sonata_breadcrumb %}

{% block sonata_left_side %}
<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        {% block search_bar %}
        {#<form action="#" method="GET" class="sidebar-form" role="search">
            <div class="input-group custom-search-form">
                <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                    <span class="input-group-btn">
                        <button class="btn btn-flat" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
            </div>
        </form>#}
        <form action="{{path('concept_library', {'aoe': area_of_expertise.url})}}#" method="GET" class="sidebar-form concept-search-form" role="search">
            <div class="input-group">
                <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'concept_library.search_placeholder'|trans }}" data-provide="typeahead" autocomplete="off">
                    <span class="input-group-btn">
                        <button class="btn btn-flat" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
            </div>
        </form>
        {% endblock %}

        <ul class="sidebar-menu" style="margin-top: 20px;">
            {{ knp_menu_render('sidebar', {'template': 'VispanlabSiteBundle::sidemenu.html.twig'}) }}
        </ul>
        {#<ul class="sidebar-menu bottom">
            {{ knp_menu_render('sidebar_bottom', {'template': 'VispanlabSiteBundle::sidemenu.html.twig'}) }}
            <li><div style="padding: 12px 5px 12px 15px; color: #ccc; text-align: center;"></div></li>
        </ul>#}
    </section>
</aside>
{% endblock %}

{% block sonata_admin_content %}
{{parent()}}
<div style="margin-left: 220px; position: absolute; bottom: 15px; left: 0px; text-align: center; border-top: 1px solid #ccc; width: 87%; padding-left: 15px; padding-right: 15px; padding-top: 5px;">
    <div class="row">
        <div class="col-md-3 pull-left">
            <small>Υπεύθυνος Εικονικού Εργαστηρίου Χωρικής Ανάλυσης</small><BR />
            <small><a href="mailto:kionas@teiath.gr">Γιάννης Κιουσόπουλος</a>,<BR /> Καθηγητης Σχολης Τεχνολογικων Εφαρμογων ΤΕΙ-Α</small><BR />
        </div>
        <div class="col-md-3">
            <div><img src="{{asset('img/espa_logo.png')}}" alt="ΕΣΠΑ logo" /></div>
            <div><small>{{'common.funded_by'|trans}}</small></div>
        </div>
        <div class="col-md-3">
            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/gr/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/gr/88x31.png" /></a><small><br />{{'common.license'|trans}}</a></small>
        </div>
        <div class="col-md-3 pull-right">
            <small>Director of Virtual Spatial Analysis Lab</small><BR />
            <small><a href="mailto:kionas@teiath.gr">John Kiousopoulos</a>,<BR /> Professor, Faculty of Technological Applications TEI-A</small><BR />
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="{{asset('js/vendor/uppercaser.js')}}" type="text/javascript"></script>
<script src="{{asset('js/vendor/bootstrap3-typeahead.js')}}" type="text/javascript"></script>
{% block search_js %}{% endblock %}
{% endblock %}

{% macro search_js_outside_library(concepts, includeAreaOfExpertise) %}
{% if includeAreaOfExpertise == null %}{% set includeAreaOfExpertise = false %}{% endif %}
<script type="text/javascript">
    // Search
    $(document).ready(function() {
        var aoe_matches = {};
        var updateSearchResults = function() {
            var $input = UpperCaser.toUpper($.trim($('.concept-search-form input[type="text"]').val()));
            if($input.length > 0) {
                $('.concept-search-form').off('submit');
                if(typeof aoe_matches[$.trim($('.concept-search-form input[type="text"]').val())] != 'undefined') {
                    $('.concept-search-form').attr('action', $('.concept-search-form').attr('data-origaction').replace('REPLACE', aoe_matches[$.trim($('.concept-search-form input[type="text"]').val())]));
                }
                $('.concept-search-form').submit();
            }
        };
        $('.sidebar-form').submit(updateSearchResults);

        $('.concept-search-form input[type="text"]').typeahead({
            {% if includeAreaOfExpertise == true %}
            minLength: 3,
            source: function (query, process) {
                return $.getJSON("{{path('search_concepts')}}", { q: query }, function (data) {
                    var results = [];
                    $.each(data, function(index, value) {
                        aoe_matches[$.trim(value.value)] = value.url;
                        results.push(value.value);
                    });
                    return process(results);
                });
            },
            {% else %}
            source: [
                {% for concept in concepts %}"{{concept.nameForLang(app.request.locale).textFormatted|format_text(concept.nameForLang(app.request.locale).format_type)|striptags|replace({'&amp;': '&'})|e('js')|raw}}"{% if not loop.last %},{% endif %}{% endfor %}
            ],
            {% endif %}
            afterSelect: updateSearchResults
        });
    });
</script>
{% endmacro %}