{% extends base_template %}

{% block sonata_head_title %}{% block title %}Εικονικό Εργαστήριο Χωρικής Ανάλυσης{% endblock %}{% endblock %}

{% block header_menu %}
{{parent()}}
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_AREA_ADMIN') %}
<li><a href="{{path('sonata_admin_dashboard')}}">{{'common.admin_link'|trans}}</a></li>
{% endif %}
{% endblock %}

{% block logo %}
    {% spaceless %}
    <a class="logo" href="{{ url('home') }}">
        {% if 'single_image' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
            <img src="{{ asset(admin_pool.titlelogo) }}" alt="{{ admin_pool.title }}">
        {% endif %}
        {% if 'single_text' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
            <span>{{ admin_pool.title }}</span>
        {% endif %}
    </a>
    {% endspaceless %}
{% endblock %}

{% block sonata_left_side %}
<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <form action="#" method="GET" class="sidebar-form" role="search">
            <div class="input-group custom-search-form">
                <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                    <span class="input-group-btn">
                        <button class="btn btn-flat" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
            </div>
        </form>

        <ul class="sidebar-menu">
            <li class="treeview active">
                <a href="#">
                    <span>Γνωστικά αντικείμενα</span>
                    <i class="fa pull-right fa-angle-left"></i>
                </a>
                <ul class="treeview-menu active">
                    {% for aoe in all_areas_of_expertise %}
                    <li{% if app.request.attributes.get('_route') == 'concept_library' and app.request.attributes.get('_route_params').aoe is defined and app.request.attributes.get('_route_params').aoe == aoe.id %} class="active"{% endif %}><a href="{{path('concept_library', {'aoe': aoe.url})}}"><i class="fa fa-angle-double-right"></i> {{aoe.name}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="#">Οδηγίες Χρήσης</a></li>
        </ul>
    </section>
</aside>
{% endblock %}