{% extends base_template %}

{% block sonata_head_title %}{% block title %}Εικονικό Εργαστήριο Χωρικής Ανάλυσης{% endblock %}{% endblock %}

{% block sonata_breadcrumb %}
    <ol class="nav navbar-top-links breadcrumb hidden-xs">
        {%- for  menu in cnerta_breadcrumb_get('sidebar') %}
            {% set menuLabel = menu.label|replace({'<BR />': ' '})|striptags|trans %}
            {% if not loop.last  %}
                <li>
                    {% if menu.uri is not empty %}
                        <a href="{{ menu.uri != '#' ? menu.uri : path('home') }}">{{ menuLabel|raw }}</a>
                    {% else %}
                        {{ menuLabel|raw }}
                    {% endif %}
                </li>
            {% else %}
                <li class="active"><span>{{ menuLabel|raw }}</span></li>
            {% endif %}
        {%- endfor %}
    </ol>
{% endblock sonata_breadcrumb %}

{% block sonata_left_side %}
<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        {% block search_bar %}
        {#<form action="#" method="GET" class="sidebar-form" role="search">
            <div class="input-group custom-search-form">
                <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                    <span class="input-group-btn">
                        <button class="btn btn-flat" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
            </div>
        </form>#}
        <form action="{{path('concept_library', {'aoe': area_of_expertise.url})}}#" method="GET" class="sidebar-form concept-search-form" role="search">
            <div class="input-group">
                <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'concept_library.search_placeholder'|trans }}" data-provide="typeahead" autocomplete="off">
                    <span class="input-group-btn">
                        <button class="btn btn-flat" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
            </div>
        </form>
        {% endblock %}

        <ul class="sidebar-menu" style="margin-top: 20px;">
            {{ knp_menu_render('sidebar', {'template': 'VispanlabSiteBundle::sidemenu.html.twig'}) }}
        </ul>
        {#<ul class="sidebar-menu bottom">
            {{ knp_menu_render('sidebar_bottom', {'template': 'VispanlabSiteBundle::sidemenu.html.twig'}) }}
            <li><div style="padding: 12px 5px 12px 15px; color: #ccc; text-align: center;"></div></li>
        </ul>#}
    </section>
</aside>
{% endblock %}

{% block sonata_wrapper %}
{{parent()}}
{# Hack to prevent scroll bar in front page #}
<div class="footer" style="height: 20px; position: absolute; top: 0; z-index: -100;">&nbsp;</div>
{% endblock %}

{% block sonata_admin_content %}
{{parent()}}
<div style="position: absolute; bottom: 0; left: 0px; right: 0px; text-align: center; border-top: 5px solid #c8dd5e; padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 15px;" class="footer">
    {% block footer_content %}
    <div class="row">
        {# Small footer #}
        <div class="col-md-4 pull-left text-left hidden-md hidden-lg hidden-xl">
            <small><b>{% if app.request.locale == 'el' %}Εικονικό Εργαστήριο Χωρικής Ανάλυσης{% else %}Spatial Analysis Virtual Lab{% endif %}</b></small><BR />
            <small>{% if app.request.locale == 'el' %}Ιδέα-Υλοποίηση: <a href="mailto:kionas@teiath.gr"><b>Γιάννης Κιουσόπουλος</b></a>, καθηγητής ΤΕΙ-Α{% else %}Concept-Development: <a href="mailto:kionas@teiath.gr"><b>John Kiousopoulos</b></a>, professor TEI-A{% endif %}</small><BR />
            <div class="text-center" style="margin-top: 10px;"><img src="{{asset('img/espa_logo.png')}}" alt="ΕΣΠΑ logo" style="height: 15px;" />&nbsp;&nbsp;&nbsp;<a rel="license" href="http://creativecommons.org/licenses/by/3.0/gr/"><img alt="Creative Commons License" style="border-width:0; height: 15px;" src="https://i.creativecommons.org/l/by/3.0/gr/88x31.png" /></a></div>
        </div>
        {# End small footer #}
        {# Normal footer #}
        <div class="col-md-4 pull-left text-left hidden-sm hidden-xs">
            <small><b>Εικονικό Εργαστήριο Χωρικής Ανάλυσης</b></small><BR />
            <small>Ιδέα-Σχεδιασμός: <a href="mailto:kionas@teiath.gr"><b>Γιάννης Κιουσόπουλος</b></a>, καθηγητής ΤΕΙ-Α</small><BR />
        </div>
        <div class="col-md-4 very-small hidden-sm hidden-xs">
            <div class="row">
                <div class="col-md-5" style="padding-right: 7px; padding-bottom: 2px; padding-top: 15px; border-left: 1px #ccc solid;">
                    <div><img src="{{asset('img/espa_logo.png')}}" alt="ΕΣΠΑ logo" style="height: 15px;" /></div>
                    <div style="margin-top: 3px;"><small>{{'common.funded_by'|trans|raw}}</small></div>
                </div>
                <div class="col-md-7" style="padding-left: 7px; padding-bottom: 2px; padding-top: 15px; border-left: 1px #ccc solid; border-right: 1px #ccc solid;">
                    <div><a rel="license" href="http://creativecommons.org/licenses/by/3.0/gr/"><img alt="Creative Commons License" style="border-width:0; height: 15px;" src="https://i.creativecommons.org/l/by/3.0/gr/88x31.png" /></a></div><div style="margin-top: 3px;" class="hidden-sm hidden-xs"><small>{{'common.license'|trans|raw}}</small></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 pull-right text-right hidden-sm hidden-xs">
            <small><b>Spatial Analysis Virtual Lab</b></small><BR />
            <small>Concept-Design: <a href="mailto:kionas@teiath.gr"><b>John Kiousopoulos</b></a>, professor TEI-A</small><BR />
        </div>
        {# End normal footer #}
    </div>
    {% endblock %}
</div>
{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="{{asset('js/vendor/uppercaser.js')}}" type="text/javascript"></script>
<script src="{{asset('js/vendor/bootstrap3-typeahead.js')}}" type="text/javascript"></script>
<script src="{{asset('js/vendor/bootstrap-toolkit.min.js')}}"></script>
{% block search_js %}{% endblock %}
{% endblock %}

{% macro search_js_outside_library(concepts, includeAreaOfExpertise) %}
{% if includeAreaOfExpertise == null %}{% set includeAreaOfExpertise = false %}{% endif %}
<script type="text/javascript">
    // Search
    $(document).ready(function() {
        var aoe_matches = {};
        var updateSearchResults = function() {
            var $input = UpperCaser.toUpper($.trim($('.concept-search-form input[type="text"]').val()));
            if($input.length > 0) {
                $('.concept-search-form').off('submit');
                if(typeof aoe_matches[$.trim($('.concept-search-form input[type="text"]').val())] != 'undefined') {
                    $('.concept-search-form').attr('action', $('.concept-search-form').attr('data-origaction').replace('REPLACE', aoe_matches[$.trim($('.concept-search-form input[type="text"]').val())]));
                }
                $('.concept-search-form').submit();
            }
        };
        $('.sidebar-form').submit(updateSearchResults);

        $('.concept-search-form input[type="text"]').typeahead({
            {% if includeAreaOfExpertise == true %}
            minLength: 3,
            source: function (query, process) {
                return $.getJSON("{{path('search_concepts')}}", { q: query }, function (data) {
                    var results = [];
                    $.each(data, function(index, value) {
                        aoe_matches[$.trim(value.value)] = value.url;
                        results.push(value.value);
                    });
                    return process(results);
                });
            },
            {% else %}
            source: [
                {% for concept in concepts %}"{{concept.nameForLang(app.request.locale).textFormatted|format_text(concept.nameForLang(app.request.locale).format_type)|striptags|replace({'&amp;': '&'})|e('js')|raw}}"{% if not loop.last %},{% endif %}{% endfor %}
            ],
            {% endif %}
            afterSelect: updateSearchResults
        });

        // Comments
        $('#fos_comment_thread').each(function() {
            var $this = $(this);
            var listener = function (event, data) {
                $this.find('input[type="submit"]').addClass('btn btn-primary');
                $this.find('button,input[type="button"]').addClass('btn btn-default');
            };
            $(this).on('fos_comment_load_thread', listener);
            $(this).on('fos_comment_show_form', listener);
            $(this).on('fos_comment_add_comment', listener);
            $(this).on('fos_comment_show_edit_form', listener);
        });

        // Screen sizes
        {#var updateVisitorsVisibility = function() {
            if ($(window).width() < 768) {
                $('.visitors-counter').hide();
                $('.tei-logo-hidden-sm').css('opacity', '0');
            } else  {
                $('.visitors-counter').show();
                $('.tei-logo-hidden-sm').css('opacity', '0.1');
            }
        };

        $(window).resize(function() {
            updateVisitorsVisibility();
        });
        updateVisitorsVisibility();#}
    });
</script>
{% endmacro %}