{% block compressed_root %}
{% spaceless %}
{% endspaceless %}
{% endblock %}

{% block root %}
{% for curItem in item %}
<li class="{% if curItem|length > 0 %}treeview{% endif %} active {{curItem.attribute('class')}}">
    <a href="{{curItem.uri}}">
        <span>{{curItem.label|trans|raw}}</span>
        <i class="fa pull-right fa-angle-left"></i>
        {% if curItem.attribute('under_construction') == true %}
            <i class="fa pull-right fa-exclamation-triangle" title="{{'common.under_construction'|trans}}"></i>
        {% endif %}
    </a>
    {% if curItem|length > 0 %}
    <ul class="treeview-menu">
        {% for subitem in curItem %}
        <li class="{{subitem.attribute('class')}}{% if matcher.isCurrent(subitem) %} active{% endif %}"><a href="{{subitem.uri}}"><i class="fa fa-angle-double-right"></i> {{subitem.label|trans|raw}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</li>
{% endfor %}
{% endblock %}