{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{asset('css/vispanlab.css')}}">
{% endblock %}

{% block javascripts %}
{{parent()}}
<script>
    (function($) {
        // Close other tree items when selecting one
        /*$(document).ready(function() {
            $(".sidebar .treeview").each(function() {
                var btn = $(this).children("a").first();
                btn.on('click.tree-closeall', function(e, triggeredFromSame) {
                    if(typeof triggeredFromSame !== 'undefined' && triggeredFromSame === true) { return true; }
                    $(".sidebar .treeview").each(function() {
                        var curbtn = $(this).children("a").first();
                        var isActive = $(this).hasClass('active');
                        if(!btn.is(curbtn) && isActive) {
                            curbtn.trigger('click', [ true ]);
                        }
                    });
                });
            });
        });*/
    }(jQuery));
</script>
{% endblock %}

{% block sonata_top_nav_menu %}
<div class="navbar-right">
    <ul class="nav navbar-nav">
        <li>
            <p class="nav navbar-text">
                <i class="fa fa-user fa-fw"></i> {{app.user.username}}
                (<a href="{{path('fos_user_security_logout')}}">{{'common.logout'|trans}}</a>)
            </p>
        </li>
        {# Language picker #}
        <li><p class="nav navbar-text">
        {% for locale in locales %}
            {% if app.request.locale != locale %}
            <a href="{{ path(app.request.attributes.get("_route"), app.request.query.all|merge(app.request.get('_route_params'))|merge({"_locale": locale})) }}">{{ locale }}</a>
            {% else %}
            {{ locale }}
            {% endif %}
            {% if not loop.last %}|{% endif %}
        {% endfor %}
        </p></li>
    </ul>
</div>
{% endblock %}

{% block side_bar_after_nav %}
<ul class="sidebar-menu bottom">
    {{ knp_menu_render('sidebar_bottom', {'template': 'VispanlabSiteBundle::sidemenu.html.twig'}) }}
</ul>
{% endblock %}