{% extends 'VispanlabSiteBundle:VirtualExercises:show_exercises.html.twig' %}

{% import 'VispanlabSiteBundle:VirtualExercises:show_exercises.html.twig' as exercisestwig %}

{% block content %}
<div class="row text-center virtual-exercises">
    <div class="col-md-12">
        <h2 style="margin-top: 0;">{{area_of_expertise.name(app.request.locale)|raw|replace({'<BR />': ' '})|raw}}</h2>
        {% if subject_area != null %}<h4>{{subject_area.name(app.request.locale)}}</h4>{% endif %}
        <h4>{{('virtual_exercises.'~type)|trans}}<hr style="margin-bottom: 10px;" /></h4>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                {% set grade = correct_exercises|length %}
                <h4>Βαθμός: {{grade}}/{{(correct_exercises|length)+(wrong_exercises|length)}}</h4>
                <h5 class="text-muted" style="margin-bottom: 0;">
                    {% if grade == 5 %}
                        {{'virtual_exercises.congrats'|trans}}
                    {% elseif grade == 4 %}
                        {{'virtual_exercises.good'|trans}}
                    {% elseif grade == 3 %}
                        {{'virtual_exercises.average'|trans}}
                    {% else %}
                        {{'virtual_exercises.try_harder'|trans}}
                    {% endif %}
                </h5>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <table class="table table-bordered">
                    <tr><td>Συνολικός βαθμός</td><td>{{app.user.userScoreForAoe(area_of_expertise).score}}</td></tr>
                    <tr><td>Κατάταξη</td><td>{{rank}}/{{totalRanks}}</td></tr>
                    <tr><td>Απαιτούμενος βαθμός για επόμενη κατάταξη</td><td>{{requiredScore}}</td></tr>
                    <tr><td>Υψηλότερη κατάταξη</td><td>{{topUser.score}} ({{topUser.user.username}})</td></tr>
                </table>
                {#<h4>Ο συνολικός σου βαθμός είναι: {{app.user.score}}</h4>
                <h5 class="text-muted" style="margin-bottom: 0;">
                    Κατάταξη: <b>{{rank}}</b>
                </h5>
                <h5 class="text-muted" style="margin-bottom: 0;">
                    Απαιτούμενος βαθμός για επόμενη κατάταξη: <b>{{requiredScore}}</b>
                </h5>
                <h5 class="text-muted" style="margin-bottom: 0;">
                    Υψηλότερη κατάταξη: <b>{{topUser.username}}</b> με βαθμό <b>{{topUser.score}}</b>
                </h5>#}
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form action="#" method="POST">
                    {% for exercise in exercises %}
                        {{exercisestwig.displayExercise(exercise, type, app.request.get('mc-'~exercise.id))}}
                    {% endfor %}
                    <div style="clear: both;">
                        <a href="{{path('show_exercises', app.request.get('_route_params'))}}" class="btn btn-default">{{'virtual_exercises.refresh'|trans}}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block search_js %}
{% import "VispanlabSiteBundle::base.html.twig" as baseMacros %}
{{baseMacros.search_js_outside_library(area_of_expertise.sortedConcepts(app.request.locale))}}
{% endblock %}