{% extends 'VispanlabSiteBundle:VirtualExercises:show_exercises.html.twig' %}

{% import 'VispanlabSiteBundle:VirtualExercises:show_exercises.html.twig' as exercisestwig %}

{% block content %}
<div class="row text-center virtual-exercises">
    <div class="col-md-12">
        <h2 style="margin-top: 0;">{{area_of_expertise.name(app.request.locale)|raw|replace({'<BR />': ' '})|raw}}</h2>
        {% if subject_area != null %}<h4>{{subject_area.name(app.request.locale)}}</h4>{% endif %}
        <h4>{{('virtual_exercises.'~type)|trans}}<hr style="margin-bottom: 10px;" /></h4>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                {% set grade = correct_exercises|length %}
                <h4>Βαθμός: {{grade}}/{{(correct_exercises|length)+(wrong_exercises|length)}}</h4>
                <h5 class="text-muted" style="margin-bottom: 0;">
                    {% if grade == 10 %}
                        {{'virtual_exercises.congrats'|trans}}
                    {% elseif grade == 8 or grade == 9 %}
                        {{'virtual_exercises.good'|trans}}
                    {% elseif grade == 5 or grade == 6 or grade == 7 %}
                        {{'virtual_exercises.average'|trans}}
                    {% else %}
                        {{'virtual_exercises.try_harder'|trans}}
                    {% endif %}
                </h5>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form action="#" method="POST">
                    {% for exercise in exercises %}
                        {{exercisestwig.displayExercise(exercise, type, app.request.get('mc-'~exercise.id))}}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block search_js %}
{% import "VispanlabSiteBundle::base.html.twig" as baseMacros %}
{{baseMacros.search_js_outside_library(area_of_expertise.sortedConcepts(app.request.locale))}}
{% endblock %}