{% extends 'VispanlabSiteBundle:VirtualExercises:virtual_exercises.html.twig' %}

{% import _self as exercisestwig %}

{% block content %}
<style>
.select2-no-results {
    display: none !important;
}
</style>
<div class="row text-center virtual-exercises">
    <div class="col-md-12">
        <h4 style="margin-top: 0;">{{area_of_expertise.name(app.request.locale)|raw|replace({'<BR />': ' '})|raw}}</h4>
        {% if subject_area != null %}<h4>{{subject_area.name(app.request.locale)}}</h4>{% endif %}
        {% if type != 'SearchExercise' %}<h4>{{('virtual_exercises.'~type)|trans}}<hr style="margin-bottom: 10px;" /></h4>{% endif %}
        {% if search_term is defined and search_term != null %}<h4>{{search_term}}<hr style="margin-bottom: 10px;" /></h4>{% endif %}
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form action="{{path('grade_exercises', {'aoe': area_of_expertise.url, 'type': type, 'sa': (subject_area != null ? subject_area.url : null)})}}" method="POST">
                    {% for exercise in (exercises|shuffle) %}
                        {{exercisestwig.displayExercise(exercise, type)}}
                    {% endfor %}
                    {% if exercises|length <= 0 %}
                        <h3>{{'virtual_exercises.no_exercises'|trans}}</h3>
                    {% endif %}
                    {% if type == 'EvaluationTest' %}
                        <div style="clear: both;">
                            <input type="submit" class="matching-check btn btn-primary" value="{{'ve_check'|trans}}" />{#<br />
                            <small style="font-size: 75%;">{{'virtual_exercises.attention'|trans}}</small>#}
                        </div>
                    {% elseif type != 'SearchExercise' %}
                        <div style="clear: both;">
                            <a href="{{path(app.request.get('_route'), app.request.get('_route_params'))}}" class="btn btn-default">{{'virtual_exercises.refresh'|trans}}</a>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
        {#{% if type != 'EvaluationTest' %}
            {{ knp_pagination_render(exercises) }}
        {% endif %}#}
    </div>
</div>
{% endblock %}

{% macro displayExercise(exercise, type, solution) %}
    {% import _self as exercisestwig %}
    {% if solution is not defined %}{% set solution = null %}{% endif %}
    <table class="table table-bordered ve-table text-left">
        <tr><td>
        {% if (exercise|get_class) == 'Vispanlab\\SiteBundle\\Entity\\Exercise\\MultipleChoice' %}
            {{exercisestwig.displayMultipleChoice(exercise, type, solution)}}
        {% elseif (exercise|get_class) == 'Vispanlab\\SiteBundle\\Entity\\Exercise\\OnOff' %}
            {{exercisestwig.displayOnOff(exercise, type, solution)}}
        {% elseif (exercise|get_class) == 'Vispanlab\\SiteBundle\\Entity\\Exercise\\Solved' %}
            {{exercisestwig.displaySolved(exercise, type, solution)}}
        {% elseif (exercise|get_class) == 'Vispanlab\\SiteBundle\\Entity\\Exercise\\Matching' %}
            {{exercisestwig.displayMatching(exercise, type, solution)}}
        {% elseif (exercise|get_class) == 'Vispanlab\\SiteBundle\\Entity\\Exercise\\ExamPaper' %}
            {{exercisestwig.displayExamPaper(exercise, type, solution)}}
        {% endif %}
        </td></tr>
    </table>
{% endmacro %}

{% macro displayMultipleChoice(exercise, type, solution) %}
    <div class="multiple-choice">
        <h4 class="text-center">{{exercise.question}}</h4>
        <hr />
        <ul>
        {% for answer in (exercise.answers|shuffle) %}
            <li>
                <div class="row">
                    <div class="col-md-1" style="position: relative;"><input type="radio" required id="mc-{{exercise.id}}-{{loop.index}}" name="mc-{{exercise.id}}" value="{{answer.answer}}" data-iscorrect="{{answer.is_correct is defined and answer.is_correct ? 'true' : 'false'}}" {% if solution == answer.answer %}checked="checked" data-solved="true"{% endif %} /></div><div class="col-md-11"><label style="font-weight: normal;" for="mc-{{exercise.id}}-{{loop.index}}">{{answer.answer|trans}}</label></div>
                </div>
            </li>
        {% endfor %}
        </ul>
        {% if exercise.relatedConcepts|length > 0 and type != 'EvaluationTest' %}<h5 class="text-center"><HR /><small>{{'virtual_exercises.see_library'|trans}}{% for concept in exercise.relatedConcepts %}<a href="{{path('concept', {'aoe': (concept.areasofexpertise|first).url, 'concept': concept.id})}}" target="_blank">{{concept.nameForLang(app.request.locale).textFormatted|format_text(concept.nameForLang(app.request.locale).format_type)|striptags|raw}}</a>{% if not loop.last %},{% endif %}{% endfor %}</small></h5>{% endif %}
    </div>
{% endmacro %}

{% macro displayOnOff(exercise, type, solution) %}
    <div class="multiple-choice">
        <h4 class="text-center">{{exercise.question}}</h4>
        <hr />
        <div class="row">
        {% for answer in exercise.answers %}
            <div class="col-md-6 text-center">
                    <input type="radio" required id="mc-{{exercise.id}}-{{loop.index}}" name="mc-{{exercise.id}}" value="{{answer.answer}}" data-iscorrect="{{answer.is_correct is defined and answer.is_correct ? 'true' : 'false'}}" {% if solution == answer.answer %}checked="checked" data-solved="true"{% endif %} /> <label style="font-weight: normal;" for="mc-{{exercise.id}}-{{loop.index}}">{{answer.answer|trans}}</label>
            </div>
        {% endfor %}
        </div>
        {% if exercise.relatedConcepts|length > 0 and type != 'EvaluationTest' %}<h5 class="text-center"><HR /><small>{{'virtual_exercises.see_library'|trans}}{% for concept in exercise.relatedConcepts %}<a href="{{path('concept', {'aoe': (concept.areasofexpertise|first).url, 'concept': concept.id})}}" target="_blank">{{concept.nameForLang(app.request.locale).textFormatted|format_text(concept.nameForLang(app.request.locale).format_type)|striptags|raw}}</a>{% if not loop.last %},{% endif %}{% endfor %}</small></h5>{% endif %}
    </div>
{% endmacro %}

{% macro displaySolved(exercise, type, solution) %}
    <div class="solved">
        <div>
            <h4 class="text-center">{{exercise.question}}</h4>
        </div>
        <hr />
        <div>
            <h4 class="text-center">{{'Data'|trans}}</h4>
            {{exercise.data}}
        </div>
        <hr />
        <div>
            <h4 class="text-center">{{'Requested'|trans}}</h4>
            {{exercise.requested}}
        </div>
        <hr />
        <div>
            <h4 class="text-center">{{'Methodology'|trans}}</h4>
            {{exercise.methodology}}
        </div>
        <hr />
        <div>
            <h4 class="text-center">{{'Solution'|trans}}</h4>
            {{exercise.solution}}
        </div>
        <hr />
        <div>
            <h4 class="text-center">{{'Result'|trans}}</h4>
            {{exercise.result}}
        </div>
        {% if exercise.relatedConcepts|length > 0 and type != 'EvaluationTest' %}<h5 class="text-center"><HR /><small>{{'virtual_exercises.see_library'|trans}}{% for concept in exercise.relatedConcepts %}<a href="{{path('concept', {'aoe': (concept.areasofexpertise|first).url, 'concept': concept.id})}}" target="_blank">{{concept.nameForLang(app.request.locale).textFormatted|format_text(concept.nameForLang(app.request.locale).format_type)|striptags|raw}}</a>{% if not loop.last %},{% endif %}{% endfor %}</small></h5>{% endif %}
    </div>
{% endmacro %}

{% macro displayMatching(exercise, type, solution) %}
    <div class="row matching" style="margin-left: 0; margin-right: 0;">
        <h4 class="text-center">{{exercise.question}}</h4>
        <hr />
        <div class="col-md-6 matching-left" style="border-right: 1px #CCC solid;">
            <ul>
            {% for inc,answer in (exercise.leftAnswers) %}
                <li>
                    <div class="row">
                        <div class="col-md-8">
                            {{answer.answer}}
                        </div>
                        <div class="col-md-3">
                            <select class="matching-token-input" required multiple="multiple" name="mc-{{exercise.id}}[{{inc}}][]" data-matches="{{answer.matches}}" style="width: 100%;" {% if solution[inc] is defined %}data-solutionvalue="{{solution[inc]|join(',')}}" data-solved="true"{% endif %}>
                                {% for answer in exercise.rightAnswers %}
                                    <option value="{{loop.index}}">{{loop.index}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 matching-right">
            <ol>
            {% for answer in exercise.rightAnswers %}
                <li>{{answer.answer}}</li>
            {% endfor %}
            </ol>
        </div>
        <div style="clear: both;{% if type == 'EvaluationTest' %}display: none;{% endif %}">
            <hr />
            <input type="button" class="matching-check btn btn-primary" value="{{'ve_check'|trans}}" />
            <small style="font-size: 75%;">{{'virtual_exercises.attention'|trans}}</small>
        </div>
        {% if exercise.relatedConcepts|length > 0 and type != 'EvaluationTest' %}<h5 class="text-center"><HR /><small>{{'virtual_exercises.see_library'|trans}}{% for concept in exercise.relatedConcepts %}<a href="{{path('concept', {'aoe': (concept.areasofexpertise|first).url, 'concept': concept.id})}}" target="_blank">{{concept.nameForLang(app.request.locale).textFormatted|format_text(concept.nameForLang(app.request.locale).format_type)|striptags|raw}}</a>{% if not loop.last %},{% endif %}{% endfor %}</small></h5>{% endif %}
    </div>
{% endmacro %}

{% macro displayExamPaper(exercise, type, solution) %}
    <div class="exam-paper">
        {#<h4 class="text-center">{{exercise.date|format_date()}}</h4>
        <hr />#}
        <div>
        {{exercise.textFormatted|format_text(exercise.format_type)|raw}}
        </div>
        {% if exercise.relatedConcepts|length > 0 and type != 'EvaluationTest' %}<h5 class="text-center"><HR /><small>{{'virtual_exercises.see_library'|trans}}{% for concept in exercise.relatedConcepts %}<a href="{{path('concept', {'aoe': (concept.areasofexpertise|first).url, 'concept': concept.id})}}" target="_blank">{{concept.nameForLang(app.request.locale).textFormatted|format_text(concept.nameForLang(app.request.locale).format_type)|striptags|raw}}</a>{% if not loop.last %},{% endif %}{% endfor %}</small></h5>{% endif %}
    </div>
{% endmacro %}

{% block javascripts %}
{{parent()}}
<script type="text/javascript">
var isEvaluationTest = {{type == 'EvaluationTest' ? 'true' : 'false'}};
var arr_diff = function(a1, a2) {
  var a=[], diff=[];
  for(var i=0;i<a1.length;i++)
    a[a1[i]]=true;
  for(var i=0;i<a2.length;i++)
    if(a[a2[i]]) delete a[a2[i]];
    else a[a2[i]]=true;
  for(var k in a)
    diff.push(k);
  return diff;
};
/*var cloneExercise = function($exercise, type, deep) {
    var $table = $exercise.parents('.ve-table');
    var $clone = $exercise.parent().parent().clone(deep, deep); // Clone the td and tr of the exercise
    jQuery("input[type='checkbox']:not('label.btn>input'), input[type='radio']:not('label.btn>input')", $clone).prop('checked', false);
    if (window.SONATA_CONFIG && window.SONATA_CONFIG.USE_ICHECK) {
        jQuery("input[type='checkbox']:not('label.btn>input'), input[type='radio']:not('label.btn>input')", $clone).iCheck('destroy');
        jQuery("input[type='checkbox']:not('label.btn>input'), input[type='radio']:not('label.btn>input')", $clone).iCheck({
            checkboxClass: 'icheckbox_minimal',
            radioClass: 'iradio_minimal'
        });
    }
    $table.append($clone);
    if(type === 'multiple_choice') {
        initMultipleChoice($clone.find('td > div'));
    } else if(type === 'matching') {
        initMatching($clone.find('td > div'));
    } else {
        alert('Error: Unknown exercise type. Please report this.');
    }
};*/
var initMultipleChoice = function($this) {
    var checkSolution = function() {
        if($(this).attr('data-iscorrect') === 'true') {
            // Correct
            $(this).parent().parent().prepend('<i class="fa fa-check" style="color: green; position: absolute; z-index: 1000; right: 27px; top: 5px;"></i>');
            $(this).parents('.ve-table').addClass('ve-correct');
        } else {
            // Wrong
            //cloneExercise($this, 'multiple_choice', true);
            $(this).parent().parent().prepend('<i class="fa fa-times" style="color: red; position: absolute; z-index: 1000; right: 28px; top: 4px;"></i>');
            $(this).parents('.ve-table').addClass('ve-wrong');
        }
        $this.find("input:radio").iCheck('disable');
    };
    if(!isEvaluationTest) {
        $this.find("input:radio").on('ifChecked', checkSolution);
    }
    if($this.find("[data-solved='true']").size() > 0) { // Just showing the solution
        checkSolution.apply($this.find("input:radio:checked"));
    } else {
        $this.find("input:radio").iCheck('enable');
    }
};
var initMatching = function($this) {
    var select2Options = {
        maximumSelectionLength: Math.ceil($this.find('.matching-right > * > *').size()/$this.find('.matching-left > * > *').size())
    };
    $this.find('.matching-token-input').val('');
    $this.find('.matching-token-input').each(function() {
        $(this).find("option").removeAttr('disabled');
        $(this).select2(select2Options);
        $(this).select2('enable');
    });
    // Constraints
    if($this.find('.matching-right > * > *').size() >= $this.find('.matching-left > * > *').size()) {
        var $selects = $this.find('.matching-token-input');
        $selects.on('change', function(e) {
            var selectedValues = $(this).select2('val');
            for (var i = 0; i < selectedValues.length; i++) {
                $selects.not(this).find("option[value='" + selectedValues[i] + "']").attr('disabled', true);
            }
        });
        $selects.on('select2-removed', function(e) {
            $selects.find("option[value='" + e.val + "']").attr('disabled', false);
        });
    }
    // End constraints
    // Validation
    var checkSolution = function() {
        var $submit = $(this);
        var correct = true;
        $this.find('select.matching-token-input').each(function() {
            var correctMatches = $(this).attr('data-matches').split(',');
            var selectedMatches = $(this).select2('val');
            var diff = arr_diff(correctMatches, selectedMatches);
            if(diff.length > 0) {
                // Wrong
                correct = false;
            }
        });
        if(correct) {
            $submit.parent().append('<i class="fa fa-check" style="color: green;"></i>');
            $submit.parents('.ve-table').addClass('ve-correct');
            $this.find('.matching-token-input').each(function() { $(this).select2('disable'); });
        } else {
            $this.find('.matching-token-input').each(function() { $(this).select2('destroy'); });
            //cloneExercise($this, 'matching', false);
            $this.find('.matching-token-input').each(function() { $(this).select2(select2Options); $(this).select2('disable'); });
            $submit.parent().append('<i class="fa fa-times" style="color: red;"></i>');
            $submit.parents('.ve-table').addClass('ve-wrong');
        }
        $submit.hide();
    };
    if(!isEvaluationTest) {
        $this.find('.matching-check').on('click', checkSolution);
    }
    if($this.find("[data-solved='true']").size() > 0) { // Just showing the solution
        $this.find('select.matching-token-input[data-solved="true"]').each(function() {
            $(this).select2('val', $(this).attr('data-solutionvalue').split(','));
        });
        checkSolution.apply($this.find('.matching-check'));
    }
    // End validation
};
$(document).ready(function() {
    $('.multiple-choice').each(function() { initMultipleChoice($(this)); });
    $('.matching').each(function() { initMatching($(this)); });
});
</script>
{% endblock %}