{% extends 'VispanlabSiteBundle::base.html.twig' %}

{% import _self as veMacros %}

{% macro showExerciseTypeRow(type, area_of_expertise) %}
    {% set subLinkClass = 'btn btn-default col-md-1 col-md-offset-1' %}
    {% set subStyleClass = 'width: inherit !important;' %}
    <tr class="info">
        <td style="width: 240px;"><a class="btn btn-primary pull-left" style="width: 235px;" href="{{path('show_exercises', {'type': type, 'aoe': area_of_expertise.url})}}">{{('virtual_exercises.'~type)|trans}}</a></td>
        {% for sa in (type|getVePaddedSubjectAreas) %}
            <td>
                {% if sa != null %}
                    <a class="{{subLinkClass}}" style="{{subStyleClass}}" href="{{path('show_exercises', {'type': type, 'aoe': sa.areaofexpertise.url, 'sa': sa.url})}}">{{sa.name(app.request.locale)}}</a>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        {% endfor %}
    </tr>
{% endmacro %}

{% block content %}
<div class="row text-center virtual-exercises">
    <div class="col-md-12">
        <h4 style="margin-top: 0;">{{area_of_expertise.name(app.request.locale)|raw|replace({'<BR />': ' '})|raw}}</h4>
        <h4>{{'virtual_exercises.heading'|trans}}<hr style="margin-bottom: 10px;" /></h4>
        <table class="table table-bordered">
            {{generateVeSubjectAreasTable({
                'OnOff': area_of_expertise.getSubjectAreasWithExerciseType('OnOff'),
                'MultipleChoice': area_of_expertise.getSubjectAreasWithExerciseType('MultipleChoice'),
                'Matching': area_of_expertise.getSubjectAreasWithExerciseType('Matching'),
                'Solved': area_of_expertise.getSubjectAreasWithExerciseType('Solved'),
                'Unsolved': area_of_expertise.getSubjectAreasWithExerciseType('Unsolved'),
                'EvaluationTest': area_of_expertise.getSubjectAreasWithExerciseType('EvaluationTest'),
            })}}
            {{veMacros.showExerciseTypeRow('OnOff', area_of_expertise)}}
            {{veMacros.showExerciseTypeRow('MultipleChoice', area_of_expertise)}}
            {{veMacros.showExerciseTypeRow('Matching', area_of_expertise)}}
            {{veMacros.showExerciseTypeRow('Solved', area_of_expertise)}}
            {{veMacros.showExerciseTypeRow('Unsolved', area_of_expertise)}}
            {{veMacros.showExerciseTypeRow('EvaluationTest', area_of_expertise)}}
        </table>
    </div>
</div>
{% endblock %}

{% block search_js %}
{% import "VispanlabSiteBundle::base.html.twig" as baseMacros %}
{{baseMacros.search_js_outside_library(area_of_expertise.sortedConcepts(app.request.locale))}}
{% endblock %}

{% block search_bar %}
<form action="{{path('search_exercises', {'aoe': area_of_expertise.url})}}#" method="GET" class="sidebar-form concept-search-form" role="search">
    <div class="input-group">
        <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'virtual_exercises.search_placeholder'|trans }}" data-provide="typeahead" autocomplete="off">
            <span class="input-group-btn">
                <button class="btn btn-flat" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
    </div>
</form>
{% endblock %}