{% extends 'VispanlabSiteBundle::base.html.twig' %}

{% block content %}
<div class="row text-center virtual-exercises">
    <div class="col-md-12">
        <h4 style="margin-top: 0;">{{area_of_expertise.name(app.request.locale)|raw|replace({'<BR />': ' '})|raw}}</h4>
        <h4>{{'virtual_exercises.heading'|trans}}<hr style="margin-bottom: 10px;" /></h4>
        {% set linkClass = 'btn btn-primary col-md-2' %}
        {% set subLinkClass = 'btn btn-default col-md-1 col-md-offset-1' %}
        {% set subStyleClass = 'width: inherit !important;' %}
        <table class="table table-bordered">
            <tr class="info">
                <td><a class="{{linkClass}}" href="{{path('show_exercises', {'type': 'OnOff', 'aoe': area_of_expertise.url})}}">{{'virtual_exercises.OnOff'|trans}}</a>
                {% if (area_of_expertise.getSubjectAreasWithExerciseType('OnOff')|length) > 1 %}
                    {% for sa in area_of_expertise.getSubjectAreasWithExerciseType('OnOff') if sa.name(app.request.locale) != area_of_expertise.name(app.request.locale) %}
                        <a class="{{subLinkClass}}" style="{{subStyleClass}}" href="{{path('show_exercises', {'type': 'OnOff', 'aoe': area_of_expertise.url, 'sa': sa.url})}}">{{sa.name(app.request.locale)}}</a>
                    {% endfor %}
                {% endif %}
                </td>
            </tr>
            <tr class="info">
                <td>
                    <a class="{{linkClass}}" href="{{path('show_exercises', {'type': 'MultipleChoice', 'aoe': area_of_expertise.url})}}">{{'virtual_exercises.MultipleChoice'|trans}}</a>
                {% if (area_of_expertise.getSubjectAreasWithExerciseType('MultipleChoice')|length) > 1 %}
                    {% for sa in area_of_expertise.getSubjectAreasWithExerciseType('MultipleChoice') if sa.name(app.request.locale) != area_of_expertise.name(app.request.locale) %}
                        <a class="{{subLinkClass}}" style="{{subStyleClass}}" href="{{path('show_exercises', {'type': 'MultipleChoice', 'aoe': area_of_expertise.url, 'sa': sa.url})}}">{{sa.name(app.request.locale)}}</a>
                    {% endfor %}
                {% endif %}
                </td>
            </tr>
            <tr class="info">
                <td><a class="{{linkClass}}" href="{{path('show_exercises', {'type': 'Matching', 'aoe': area_of_expertise.url})}}">{{'virtual_exercises.Matching'|trans}}</a>
                {% if (area_of_expertise.getSubjectAreasWithExerciseType('Matching')|length) > 1 %}
                    {% for sa in area_of_expertise.getSubjectAreasWithExerciseType('Matching') if sa.name(app.request.locale) != area_of_expertise.name(app.request.locale) %}
                        <a class="{{subLinkClass}}" style="{{subStyleClass}}" href="{{path('show_exercises', {'type': 'Matching', 'aoe': area_of_expertise.url, 'sa': sa.url})}}">{{sa.name(app.request.locale)}}</a>
                    {% endfor %}
                {% endif %}
                </td>
            </tr>
            <tr class="info">
                <td><a class="{{linkClass}}" href="{{path('show_exercises', {'type': 'Solved', 'aoe': area_of_expertise.url})}}">{{'virtual_exercises.Solved'|trans}}</a>
                {% if (area_of_expertise.getSubjectAreasWithExerciseType('Solved')|length) > 1 %}
                    {% for sa in area_of_expertise.getSubjectAreasWithExerciseType('Solved') if sa.name(app.request.locale) != area_of_expertise.name(app.request.locale) %}
                        <a class="{{subLinkClass}}" style="{{subStyleClass}}" href="{{path('show_exercises', {'type': 'Solved', 'aoe': area_of_expertise.url, 'sa': sa.url})}}">{{sa.name(app.request.locale)}}</a>
                    {% endfor %}
                {% endif %}
                </td>
            </tr>
            <tr class="info">
                <td><a class="{{linkClass}}" href="{{path('show_exercises', {'type': 'Unsolved', 'aoe': area_of_expertise.url})}}">{{'virtual_exercises.Unsolved'|trans}}</a>
                {% if (area_of_expertise.getSubjectAreasWithExerciseType('Unsolved')|length) > 1 %}
                    {% for sa in area_of_expertise.getSubjectAreasWithExerciseType('Unsolved') if sa.name(app.request.locale) != area_of_expertise.name(app.request.locale) %}
                        <a class="{{subLinkClass}}" style="{{subStyleClass}}" href="{{path('show_exercises', {'type': 'Unsolved', 'aoe': area_of_expertise.url, 'sa': sa.url})}}">{{sa.name(app.request.locale)}}</a>
                    {% endfor %}
                {% endif %}
                </td>
            </tr>
            <tr class="info">
                <td><a class="{{linkClass}}" href="{{path('show_exercises', {'type': 'EvaluationTest', 'aoe': area_of_expertise.url})}}">{{'virtual_exercises.EvaluationTest'|trans}}</a>
                {% if (area_of_expertise.getSubjectAreasForEvaluationTest()|length) > 1 %}
                    {% for sa in area_of_expertise.getSubjectAreasForEvaluationTest if sa.name(app.request.locale) != area_of_expertise.name(app.request.locale) %}
                        <a class="{{subLinkClass}}" style="{{subStyleClass}}" href="{{path('show_exercises', {'type': 'EvaluationTest', 'aoe': area_of_expertise.url, 'sa': sa.url})}}">{{sa.name(app.request.locale)}}</a>
                    {% endfor %}
                {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}

{% block search_js %}
{% import "VispanlabSiteBundle::base.html.twig" as baseMacros %}
{{baseMacros.search_js_outside_library(area_of_expertise.sortedConcepts(app.request.locale))}}
{% endblock %}

{% block search_bar %}
<form action="{{path('search_exercises', {'aoe': area_of_expertise.url})}}#" method="GET" class="sidebar-form concept-search-form" role="search">
    <div class="input-group">
        <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'virtual_exercises.search_placeholder'|trans }}" data-provide="typeahead" autocomplete="off">
            <span class="input-group-btn">
                <button class="btn btn-flat" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
    </div>
</form>
{% endblock %}