{% extends 'VispanlabSiteBundle::base.html.twig' %}

{% block content %}
<div class="row text-center virtual-exercises">
    <div class="col-md-12">
        <h2 style="margin-top: 0;">{{area_of_expertise.name(app.request.locale)|raw|replace({'<BR />': ' '})|raw}}</h2>
        <h4>{{'virtual_exercises.heading'|trans}}<hr style="margin-bottom: 10px;" /></h4>
        <table class="table table-bordered">
            <tr class="info">
                <td>&nbsp;</td>
                <td><strong>{{'virtual_exercises.multiple_choice'|trans}}</strong></td>
                <td><strong>{{'virtual_exercises.on_off'|trans}}</strong></td>
                <td><strong>{{'virtual_exercises.solved'|trans}}</strong></td>
                <td><strong>{{'virtual_exercises.matching'|trans}}</strong></td>
            </tr>
            {% for sa in area_of_expertise.subjectAreas %}
            <tr>
                <td>{{sa.name(app.request.locale)}}</td>
                {% set linkClass = 'btn btn-primary' %}
                <td>{% if sa.exercisesByClass('MultipleChoice')|length > 0 %}<a class="{{linkClass}}" href="{{path('show_exercises', {'aoe': area_of_expertise.url, 'sa': sa.url, 'type': 'MultipleChoice'})}}">Μετάβαση</a>{% else %}<a href="#" class="{{linkClass}} disabled">Μετάβαση</a>{% endif %}</td>
                <td>{% if sa.exercisesByClass('OnOff')|length > 0 %}<a class="{{linkClass}}" href="{{path('show_exercises', {'aoe': area_of_expertise.url, 'sa': sa.url, 'type': 'OnOff'})}}">Μετάβαση</a>{% else %}<a href="#" class="{{linkClass}} disabled">Μετάβαση</a>{% endif %}</td>
                <td>{% if sa.exercisesByClass('Solved')|length > 0 %}<a class="{{linkClass}}" href="{{path('show_exercises', {'aoe': area_of_expertise.url, 'sa': sa.url, 'type': 'Solved'})}}">Μετάβαση</a>{% else %}<a href="#" class="{{linkClass}} disabled">Μετάβαση</a>{% endif %}</td>
                <td>{% if sa.exercisesByClass('Matching')|length > 0 %}<a class="{{linkClass}}" href="{{path('show_exercises', {'aoe': area_of_expertise.url, 'sa': sa.url, 'type': 'Matching'})}}">Μετάβαση</a>{% else %}<a href="#" class="{{linkClass}} disabled">Μετάβαση</a>{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}