{% extends 'VilaspaSiteBundle::base.html.twig' %}

{% block title %}Εγγραφή Πολίτη{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block main %}
{% if error is defined %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<div class="row text-center">
    <div class="col-md-offset-4 col-md-4">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                {{ form_widget(form) }}
                <div>
                    <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
                </div>
        </form>
    </div>
</div>
{% endblock %}